### Exercise solution from link below :-


https://www.machinelearningplus.com/python/101-pandas-exercises-python/

In [38]:
import numpy as np
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [39]:
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

In [40]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [41]:
k=pd.DataFrame(ser)

In [42]:
k['new']=k.index

In [43]:
k

    0 new
a   0   a
b   1   b
c   2   c
e   3   e
d   4   d
f   5   f
g   6   g
h   7   h
i   8   i
j   9   j
k  10   k
l  11   l
m  12   m
n  13   n
o  14   o
p  15   p
q  16   q
r  17   r
s  18   s
t  19   t
u  20   u
v  21   v
w  22   w
x  23   x
y  24   y
z  25   z

In [44]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [45]:
l1=pd.DataFrame(ser1,ser2)

In [46]:
l1

    0
0   a
1   b
2   c
3   e
4   d
5   f
6   g
7   h
8   i
9   j
10  k
11  l
12  m
13  n
14  o
15  p
16  q
17  r
18  s
19  t
20  u
21  v
22  w
23  x
24  y
25  z

In [47]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [48]:
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [49]:
ser.name='alphabets'

In [50]:
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

In [51]:
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [52]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [53]:
    ser1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [54]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [55]:
ser[0]

'a'

In [56]:
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

In [57]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [59]:
ser1.append(ser2)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [61]:
pd.concat([ser1,ser2],axis=1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [62]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [71]:
l=ser1.loc([ser2])

TypeError: unhashable type: 'list'

In [69]:
l

1     9.0
3     5.0
10    NaN
13    NaN
dtype: float64