# contents
### We have concepts on Pandas - dataframes
### DataFrame - It is a collection of Series which we have studied earlier.
### DataFrame Looks similar to Excel sheet with Rows and columns
### To create a Dataframe, we need randn,labels for both Rows and Columns.
#### Syntax:-
###         l=pd.Dataframe(randn(5,4),[1,2,3,4,5],['a','b','c','d'])
###         here randn displays random values of size 5x4.
###         [1,2,3,4,5] displays index of columns.
###         ['a','b','c','d'] displays index of rows.

In [2]:
import pandas as pd
import numpy as np

In [3]:
from numpy.random import randn

In [4]:
np.random.seed(101)

In [8]:
df=pd.DataFrame(randn(5,4),[1,2,3,4,5],['a','b','c','d'])

In [9]:
df

          a         b         c         d
1  2.706850  0.628133  0.907969  0.503826
2  0.651118 -0.319318 -0.848077  0.605965
3 -2.018168  0.740122  0.528813 -0.589001
4  0.188695 -0.758872 -0.933237  0.955057
5  0.190794  1.978757  2.605967  0.683509

#### To select a column we can do it by follwing syntax
###### df['a']

In [11]:
df['a']

1    2.706850
2    0.651118
3   -2.018168
4    0.188695
5    0.190794
Name: a, dtype: float64

## To select multiplle indexes we can do it in following way-
### df[['a','b']]

In [13]:
df[['a','b']]

          a         b
1  2.706850  0.628133
2  0.651118 -0.319318
3 -2.018168  0.740122
4  0.188695 -0.758872
5  0.190794  1.978757

### We can create a new column by the following way - 
df['new']=df['a']+df['b']

In [ ]:
df['e']=df['a']+df['b']

In [20]:
df.drop(5)

          a         b         c         d
1  2.706850  0.628133  0.907969  0.503826
2  0.651118 -0.319318 -0.848077  0.605965
3 -2.018168  0.740122  0.528813 -0.589001
4  0.188695 -0.758872 -0.933237  0.955057

In [18]:
df.drop('e',axis=1,inplace=True)

In [19]:
df

          a         b         c         d
1  2.706850  0.628133  0.907969  0.503826
2  0.651118 -0.319318 -0.848077  0.605965
3 -2.018168  0.740122  0.528813 -0.589001
4  0.188695 -0.758872 -0.933237  0.955057
5  0.190794  1.978757  2.605967  0.683509

### We can drop a column by the syntax drop
<p>df.drop('a',axis=1,inplace=True)</p>
<p>here 'a' is column index</p>
 <p>axis=1 represents column to dropped and axis=0 represents row to be dropped</p>
 <p>if we don't mention inplace=true it will drop temporarily, if mentioned it will drop permanently</p>

In [21]:
df

          a         b         c         d
1  2.706850  0.628133  0.907969  0.503826
2  0.651118 -0.319318 -0.848077  0.605965
3 -2.018168  0.740122  0.528813 -0.589001
4  0.188695 -0.758872 -0.933237  0.955057
5  0.190794  1.978757  2.605967  0.683509