In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels=['a','b','c']

In [4]:
my_data=[10,20,30]

In [5]:
arr=np.array(my_data)

In [6]:
d={'a':10,'b':20,'c':30}

In [11]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [12]:
arr

array([10, 20, 30])

In [14]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [16]:
l=pd.Series([1,2,3,4],['USA','AFR','UK','AUS'])

In [17]:
l['UK']

3